<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- icon link web -->
    <link rel="shortcut icon" href="/static/images/logo_team.ico" type="image/x-icon" />
    <!-- {% static 'images/avatar_team.svg' %} -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Social Network Of Team Anh Khoa & Tấn Duy</title>
  </head>

  <body>
    
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}

    <script src="{% static 'Js/script.js' %}"></script>
  </body>
</html>
